body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

h1, h2, h3 {
    font-family: Georgia, Garamond, serif;
}

h2, footer { 
    color: #063; 
    background-color: #eee; 
}


nav { 
    background-color: #f87217; 
    letter-spacing: 2px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

blockquote {
    font-size: 130%;
}

footer {
    font-size: 70%;
    text-align: center;
}

p {
    line-height: 1.5;
    text-align: justify;
}