html,body { height: 100%; }
body { font-family: Verdana, Geneva, sans-serif; 
       font-size: 14px; 
       margin: 0; background-color: #ccc;  }

img {display:block;}


#page { border-left: 4px solid black;
        border-right: 4px solid black;
        width: 660px;  min-height: 100%;
        background-color: white;
        margin-left: auto; margin-right: auto;  }

header p { font-size: 80%; }

table p {margin:0;}

p { line-height: 1.5; 
    text-align: justify; 
    padding-left: 20px;
    padding-right: 50px;}



h1 { font-size: 24px; }
h2 { color: #063; 
     font-size: 16px; }

h3 { font-size: 12px; padding-left:20px; }

#lead { background-color: #930;
        border-top: 3px solid #033;
        color: white; font-size: 18px; 
        padding: 5px; padding-left: 25px;
        margin-top: 0;
        margin-left: -25px }


blockquote { font-size: 130%; }

footer { font-size: 70%; 
         text-align: center; 
         border-top: 1px dashed #063; 
         background-color: #f93;
         padding: 20px; margin-top: 20%; }

nav { background-color: #f93; 
      letter-spacing: 2px; 
      border-bottom: 3px solid #033;
      padding: 8px;
      padding-bottom: 0; 
      height:25px  }


#content { margin-left:25px; }
#content img, #spiceBanner { margin-left: -25px;}


aside { width: 280px; border-radius: 30px;
        background-color: #9c9; 
        float: right; margin: 20px; }


table { width: 600px; font-size: 90%;}
td,th { padding: 5px; vertical-align: 2px;}
th { text-align: left; }
thead, tfoot { background-color: #eee; 
               font-weight: bold; }


a:link { font-weight: bold; text-decoration: none; color: black; }
a:visited { color: #555; }
a:hover { background-color: white; color: #930; }

nav a { padding: 8px; }

nav a:hover { color: black; }



