body { 
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 14px; 
    margin: 0;
    background-color: #ccc;
}



p { 
    line-height: 1.5; 
    text-align: justify; 
    padding-left: 20px;
    padding-right: 20px;
}

h2, footer { color: #063; 
             background-color: #eee; }

h1, h2, h3 { font-family: Georgia, Garamond, serif; }

h1 { font-size: 24px; }
h2 { 
    font-size: 18px;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 16px;
    box-shadow: 4px 4px 4px gray;
}

h3 { 
    font-size: 16px; 
    padding-left: 20px;
}

blockquote { font-size: 130%; }

footer { 
    font-size: 70%;
    text-align: center; 
    border-top: 1px dashed #063;
    padding: 20px;
}

nav { 
    background-color: #f87217; 
    letter-spacing: 2px; 
    border-bottom: 6px double #063;
    padding: 8px;
    padding-bottom: 0;
    height: 25px;
}

aside {
    float: right;
    width: 280px;
    margin: 20px;
    border-radius: 30px;
    background-color: #9c9;
}

#content {
    width: 650px;
    margin-left: 25px;
}

#page {
    border-left: 4px solid black;
    border-right: 4px solid black;
    width: 700px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}